// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div
.field {
  margin-top: 10px;
}

body{
  font-size: 13px;
  line-height: 18px;

}
style{
  padding-top: 10px;
  margin: 2px;
}
header {
  background-color: cadetblue;
  color: transparent;
  margin-top: 10px;
  padding-top: 1px;
  margin-bottom: 1px;
  height: 50%;

}
i {
  color: silver;
}

