<footer>
  </br>
    powered by: <i> 'THE NFCS EXCOS 14/15'</i>

    developed by: <%= link_to 'anonymous', 'http://www.twitter.com' %>
    <li><a href="https://twitter.com/harneblaze"><img src="/assets/Twitter.ico" alt="follow on twitter" width="35" height="35">
    </a>
      <a href="https://facebook.com/harnee otuoniyo"><img src="/assets/Facebook.ico" alt="follow on twitter" width="35" height="35"></a>
    </li>


  <marquee><h1><i> nfcs living the faith...</i></h1> </marquee>

</footer>